body{
    background: #0cc7c7c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cantainer{
    background-color: #00000044;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.main h1{
    position: relative;
    bottom: 1rem;
}

.btn{
    background: blue;
    padding: 10px;
    font-size: large;
    text-align: center;
    font-weight: 900;
}
